video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

.weather-app {
  background: #d7f7f5;
  max-width: 600px;
  margin: 30px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #f3d516;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #75cac3;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #2a6171;
  border-radius: 6px;
  border: none;
  padding: 15px 30px;
  color: #f3d516;
  font-weight: bold;
  font-size: 16px;
  margin-left: 5px;
}
body {
  font-family: "Afacad Flux", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.header {
  text-align: center;
  color: #2a6171;
}
h1 {
  margin: 3px;
  font-size: 50px;
}

h2,
h3 {
  margin: 2px;
}

.today {
  display: flex;
  justify-content: space-between;
  background-color: #2a6171;
  border-radius: 16px;
  padding: 15px;
  margin: 15px;
  color: #f3d516;
}

.todays-weather,
.hi-low,
.current-temp {
  margin: auto;
}

.todays-weather {
  padding-top: 8px;
}
.current-temp {
  font-size: 75px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.forcast-image {
  object-fit: contain;
}

.daily-forcast {
  background: #d7f7f5;
  max-width: 75px;
  margin: 30px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
  text-align: center;
  color: #2a6171;
}

footer {
  border-top: 1px solid #f3d516;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: #2a6171;
}

a {
  color: #2a6171;
}
