video {
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  z-index: -100;
}

body {
  font-family: "Afacad Flux", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-weight: <weight>;
}

.weather-app {
  background: #d7f7f5;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 20px auto;
  max-width: 700px;
  padding: 30px;
  opacity: 90%;
}

/* Search Bar */
.search-form-input {
  background-color: #75cac3;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  padding: 15px 20px;
  width: 80%;
}

.search-form-button {
  background: #2a6171;
  border-radius: 6px;
  border: none;
  color: #f3d516;
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
  padding: 15px 30px;
}

main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

header {
  border-bottom: 1px solid #f3d516;
  padding: 0 0 30px 0;
}

.header {
  color: #2a6171;
  text-align: center;
}

h1 {
  font-size: 60px;
  margin: 3px;
}

.date-time {
  font-size: 32px;
  margin: 1px;
}

.main-weather-flex {
  display: flex;
  justify-content: center;
}

.left-box,
.right-box {
  align-self: flex-end;
  width: 200px;
}

.unit-type {
  justify-content: flex-start;
}
.img-today-weather {
  object-fit: contain;
}
.current-temp {
  font-size: 100px;
}
.red {
  color: #ff0000;
}
.blue {
  color: blue;
}

.img-desc,
.hi-low-today,
.unit-type {
  color: #2a6171;
  font-size: larger;
  font-weight: bold;
  margin: 5px;
}

.todays-weather {
  margin-top: 15px;
}
.todays-info {
  background-color: #75cac3;
  border-radius: 6px;
  border: none;
  color: #2a6171;
  font-size: 32px;
  margin: 10px 0;
  padding: 15px 30px;
  text-align: left;
  vertical-align: middle;
}

.flex-weekly-forecast {
  background: #2a6171;
  border-radius: 6px;
  border: none;
  color: #f3d516;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 15px 30px;
}
.day,
.high,
.low {
  font-size: 32px;
}
.day-icon {
  width: 75px;
}

footer {
  border-top: 1px solid #f3d516;
  color: #2a6171;
  font-size: 13px;
  padding: 30px 0 0 0;
  text-align: center;
}

a {
  color: #2a6171;
}
