/*Full Page*/

video {
  left: 0;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

body {
  font-family: "Afacad Flux", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-weight: <weight>;
}

.weather-app {
  background: #d7f7f5;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 20px auto;
  max-width: 600px;
  padding: 30px;
  opacity: 95%;
}

.red {
  color: #ff0000;
}
.blue {
  color: blue;
}

/* Search Bar */
.search-form-input {
  background-color: #75cac3;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  padding: 15px 20px;
  width: 80%;
}

.search-form-button {
  background: #2a6171;
  border-radius: 6px;
  border: none;
  color: #f0b32e;
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
  padding: 15px 30px;
}

header {
  border-bottom: 1px solid #f0b32e;
  padding: 0 0 30px 0;
}

/*Top box current weather*/
main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

/*Left*/
.location-time {
  color: #2a6171;
  text-align: center;
}

.location {
  font-size: 60px;
  margin: 3px;
}

.date-time {
  font-size: 32px;
  margin: 1px;
}

.main-weather-flex {
  display: flex;
  justify-content: center;
}

.left-box,
.right-box {
  align-self: flex-end;
  width: 200px;
}

.img-today-weather {
}

.unit-type {
  justify-content: flex-start;
}

.current-temp {
  font-size: 115px;
  font-weight: bold;
}

.img-desc,
.hi-low-today,
.unit-type {
  color: #2a6171;
  font-size: larger;
  font-weight: bold;
  margin: 5px;
}

.hi-low-today {
  text-align: justify;
}

/*Right*/
.todays-weather {
  margin-top: 20px;
}
.todays-info {
  background-color: #75cac3;
  border-radius: 6px;
  border: none;
  color: #2a6171;
  font-size: 20px;
  margin: 20px 0;
  padding: 15px 15px;
  text-align: left;
}


/*toggle*/
.units-toggle-container {
  padding-bottom: 20px;
}

.units {
  background-color: #2a6171;
  border-radius: 30px;
  border: 1px solid #f0b32e;
  box-shadow: inset 0px -1px 5px #f0b32e;
  color: #f0b32e;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  line-height: 1.5;
  margin: 10px auto;
  padding: 2px 12px;
  position: relative;
  width: 100px;
}

.units input {
  appearance: none;
  border-radius: 30px;
  cursor: pointer;
  height: 100%;
  inset: 0;
  position: absolute;
  width: 100%;
}

.units input:focus-visible {
  margin: 0px auto;
}

.units-text {
  padding: 4px 0px;
  user-select: none;
}

.units-button {
  border-radius: 30px;
  box-shadow: inset 0px -1px 5px #f0b32e;
  height: 32px;
  pointer-events: none;
  position: relative;
  width: 55px;
}

.units-button::after {
  background-color: #f0b32e;
  border-radius: 30px;
  box-shadow: 0px 1px 2px #f0b32e;
  content: "";
  height: 25px;
  left: 4px;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  transition: 200ms cubic-bezier(0.96, -0.11, 0, 1.12);
  width: 25px;
}

.units input:checked ~ .units-button::after {
  transform: translate3d(22px, -50%, 0);
}


/*bottom box week forecast*/
.flex-weekly-forecast {
  background: #2a6171;
  border-radius: 6px;
  border: none;
  color: #f0b32e;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 15px 30px;
}
.day,
.high,
.low {
  font-size: 32px;
}
.day-icon {
  width: 75px;
}

/*Footer*/

footer {
  border-top: 1px solid #f0b32e;
  color: #2a6171;
  font-size: 17px;
  padding: 30px 0 0 0;
  text-align: center;
}

.footer {
  color: #2a6171;
}
